/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #0082fb;
  --ifm-color-primary-darker: #007bed;
  --ifm-color-primary-darkest: #0065c3;
  --ifm-color-primary-light: #349dff;
  --ifm-color-primary-lighter: #42a4ff;
  --ifm-color-primary-lightest: #6cb8ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e0f0ff;
  --ifm-color-primary-dark: #b0d9ff;
  --ifm-color-primary-darker: #98cdff;
  --ifm-color-primary-darkest: #50aaff;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}

code {
  border: 1px solid #dfdfdf;
  padding: 2px 6px;
  margin: 0px 4px;
}
